<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <script src="/js/login.js"></script>
    <!--  限制允許當前域名的腳本執行  -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; img-src 'self'; object-src 'none';">
</head>

<body>
    <h1>登入</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="帳號"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="密碼"/>
        </div>
        <div>
            <img src="/verify-code.jpg">
        </div>
        <div>
            <input type="text" name="vcode">
        </div>
        <input type="submit" value="登入" />
    </form>
</body>